// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background: #fff !important;
    margin: 0;
    font-family: "Verdana";
    font-size:16px;
}
.wrap {
    max-width: 900px;
    margin: 0 auto;
}

nav {
    background: #13293d;
    padding: 10px 0;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            a {
                display: block;
                margin: 0;
                padding: 11px 14px;
                background: #16324f;
                color: #fff;
                font-size: 14px;
                text-decoration:none;
                border-radius: 4px;
                &.pink {
                    background: #b95f89;
                }
            }
        }
    }
}
//floats
.cf {
    &:after {
        content:'';
        display: table;
        clear: both;
    }
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    section {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        form {
            background: #fff;
        }
        
    }
}
.vote-form {
    label {
        background: lightblue;
        display: block;
        text-align: center;
    }
    input {
        width: 100%;
    }
}
.progress-bar {
    height: 20px;
    background: lightblue;
    animation: bar .5s;
    animation-fill-mode: forwards;
    text-align: center;
    min-width: 10px;
}
@keyframes bar {
    0% {
        width: 0;
    }
}
.modal {
    form {
        flex-basis: 400px;
        display: inline-block;
        padding: 25px;
        border-radius: 4px;
        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px white inset;
        }
        input[type="email"], input[type="password"] {
            height: 25px;
            outline: none;
        }
        input:not([type="checkbox"]) {
            display: block;
            width: 100%;
        }
    }
}
.hero {
    height: 300px;
    background: url(https://images.unsplash.com/photo-1492854536278-1f94bbec5732?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    display: flex;
    align-items: center;
    .wrap {
        flex-basis: 900px;
    }
    h1 {
        color: #fff;
        font-size: 35px;
        text-shadow: 3px 3px 0 rgba(0,0,0,.8);
    }
}