<div class="cf">
  <div class="pull-right">
    <% if user_signed_in? %>
      <div>
          <%= link_to "New vote", new_vote_path, class:"btn-default" %>
          <br><br><br>
      </div>
    <% end %>    
  </div>
</div>

<div>
  <% if @votes.any? %>
    <% @votes.each_slice(2) do |slice| %>
      <div class="row">
        <% slice.each do |vote|%>
          <div class="vote">
            <header>
              <p>
                <%= link_to vote_path(vote) do %>
                  <b><%= vote.title %></b>
                <% end %>
              </p>
            </header>
            <div class="body">
              <%= render partial: "vote_form", locals: {vote: vote} %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>