<div class="cf">
  <div class="pull-right">
    <% if user_signed_in? %>
      <div>
          <%= link_to "New vote", new_vote_path, style:"margin-top:30px; display:block;", class:"btn btn-raised btn-success" %>
      </div>
    <% end %>    
  </div>
</div>

<div>
  <% if @votes.any? %>
    <% @votes.each do |vote| %>
      <p>
        <b><%= vote.title %></b>
      </p>
          <%= render partial: "vote_form", locals: {vote: vote} %>
      <hr>
    <% end %>
  <% end %>
</div>