<nav>
    <div class="wrap">
        <ul>
            <li><a class="logo" href="/">Votissimo</a></li>
            <% if !user_signed_in? %>
                <li><%= link_to "log in", new_user_session_path, :data => { :modal => '#sign-in' } %></li>
                <li><%= link_to "sign up", new_user_registration_path, class:"pink", :data => { :modal => '#sign-up' } %></li>
            <% end %>
            <% if user_signed_in? %>
                <li><%= link_to "logout", destroy_user_session_path, method: :delete, class:"btn btn-raised btn-info" %></li>
            <% end %>
        </ul>
    </div>
</nav>
<script>
    $(function(){
        // $('.modal-toggle').on('click',function(e){
        //     e.preventDefault();
        //     $('.modal').fadeToggle();
        // });
        $('[data-modal]').on('click',function(e){
            e.preventDefault();
            var el = $(this).attr('data-modal');
            $(el).fadeToggle();
        })
        $('html').on('click','.modal',function(e){
            $(this).fadeOut();
        });
        $('html').on('click','.modal form',function(e){
            e.stopPropagation();
        });
    })
</script>