<nav>
    <ul>
        <% if !user_signed_in? %>
            <li><%= link_to "sign in", new_user_session_path, class:"btn btn-raised btn-info" %></li>
            <li><%= link_to "sign up", new_user_registration_path, class:"btn btn-raised btn-info" %></li>
        <% end %>
        <% if user_signed_in? %>
            <li><%= link_to "logout", destroy_user_session_path, method: :delete, class:"btn btn-raised btn-info" %></li>
        <% end %>
    </ul>
</nav>